* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
    /* background-image: url(images/lock.png); */
    /* background-size: 5%; */
    /* background-position: cover; */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 220px;
    margin: 100px auto;
    color: white;
    text-shadow: 2px 2px 4px black;
    background-image: linear-gradient(lightgray, gray, black);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

p {
    font-size: 16px;
    font-weight: bold;
}

a {
    visibility: hidden;
    color: white;
    text-decoration: none;
    animation: reset-showup 2s 3s forwards;
}

a:hover {
    color: yellow;
}

#pwd_container {
    position: relative;
    background: #ded9d9;
    color: black;
    border-radius: 10px;
    text-transform: lowercase;
    text-shadow: none;
    font-size: 20px;
    padding: 10px;
    border: 5px solid lightgray;
    font-family: 'Alfa Slab One', cursive;
    animation: rotating-psw 2s 0.5s ease-in-out forwards;
    visibility: hidden;
}

@keyframes rotating-psw {
    0% {
        visibility: visible;
        transform: rotateZ(2000deg);
    }

    100% {
        visibility: visible;
    }
}

@keyframes reset-showup {
    0% {
        visibility: visible;
        opacity: .3;
    }

    50% {
        opacity: .6;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}